<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSCOM.BusinessHelper.UnitTest.UnitTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OPX.Business.UnitTest.UnitTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OPX.Business.UnitTest.OPX.Business.UnitTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSCOM.BusinessHelper.UnitTest.UnitTest>
            <setting name="TEST_IIS_BOX" serializeAs="String">
                <value>localhost</value>
            </setting>
        </MSCOM.BusinessHelper.UnitTest.UnitTest>
        <OPX.Business.UnitTest.UnitTest>
            <setting name="TFSServer" serializeAs="String">
                <value>http://mscomvstf:8080/tfs/</value>
            </setting>
            <setting name="TFSProject" serializeAs="String">
                <value>RXDPartner</value>
            </setting>
            <setting name="TFSProjectCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="UNIT_TEST_CONTENT_LOCATION" serializeAs="String">
                <value>\\mscomtest\Content\OPX\OPXTestAutomation\UnitTest\</value>
            </setting>
            <setting name="PHX_TEST_BOX" serializeAs="String">
                <value>tk3msftvopxtst1</value>
            </setting>
        </OPX.Business.UnitTest.UnitTest>
        <OPX.Business.UnitTest.OPX.Business.UnitTest>
            <setting name="TFSServer" serializeAs="String">
                <value>http://mscomvstf:8080/tfs/</value>
            </setting>
            <setting name="TFSProject" serializeAs="String">
                <value>RXDPartner</value>
            </setting>
            <setting name="TFSProjectCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="UNIT_TEST_CONTENT_LOCATION" serializeAs="String">
                <value>\\mscomtest\Content\OPX\OPXTestAutomation\UnitTest\</value>
            </setting>
            <setting name="ValuesEnvironment" serializeAs="String">
                <value>MAIN.values</value>
            </setting>
            <setting name="PHX_TEST_BOX" serializeAs="String">
                <value>tk3msftvopxtst1</value>
            </setting>
        </OPX.Business.UnitTest.OPX.Business.UnitTest>
    </userSettings>
</configuration>