<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSCOM.DDA.UnitTest.DDAUnitTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSCOM.DDA.UnitTest.DDAUnitTest>
            <setting name="TFSServer" serializeAs="String">
                <value>http://msitvstf1:8080/tfs/</value>
            </setting>
            <setting name="TFSProjectCollection" serializeAs="String">
                <value>TPC1</value>
            </setting>
            <setting name="TFSProject" serializeAs="String">
                <value>MSIT1TPC1Project1</value>
            </setting>
            <setting name="EnvironmentValues" serializeAs="String">
                <value>DEMO.values</value>
            </setting>
            <setting name="LoadWorkItemsFromFile" serializeAs="String">
                <value>True</value>
            </setting>
        </MSCOM.DDA.UnitTest.DDAUnitTest>
    </userSettings>
</configuration>