<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <methods>
    <!--With No MTM Parameter-->
    <pair key="Add 1 + 1" methodSignature="AddOnePlusOne()" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll"/>
    <pair key="Calculate 2 x 2" methodSignature="MultTwoTimesTwo()" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll"/>
    <pair key="Result is 4" methodSignature="IsFour(double i)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="$ACTION_RESULT" CSParam="i"/>
    </pair>
    <!--MTM Parameter-->
    <pair key="Add @x + @y" methodSignature="Add(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="@x" CSParam="a"/>
      <mapp MTMParam="@y" CSParam="b"/>
    </pair>
    <pair key="Calculate @r x @z" methodSignature="Multiply(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="@z" CSParam="a"/>
      <mapp MTMParam="@r" CSParam="b"/>
    </pair>
    <pair key="Calculate @x x @y" methodSignature="Multiply(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="@x" CSParam="a"/>
      <mapp MTMParam="@y" CSParam="b"/>
    </pair>
    <pair key="Determine if bool @a == @b" methodSignature="AreSameBool(bool a, bool b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="@a" CSParam="a"/>
      <mapp MTMParam="@y" CSParam="b"/>
    </pair>
    <pair key="Determine if double @a == @b" methodSignature="AreSameDouble(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="@a" CSParam="a"/>
      <mapp MTMParam="@y" CSParam="b"/>
    </pair>
    <!--Previous Results Usage-->
    <pair key="Result is @result" methodSignature="AreSameDouble(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="$ACTION_RESULT" CSParam="a"/>
      <mapp MTMParam="@result" CSParam="b"/>
    </pair>
    <pair key="Add previous step result and @z" methodSignature="Add(double a, double b)" reference="MSCOM.DDA.DemoClassLibraries.Calculator" assembly="DemoClassLibraries.dll">
      <mapp MTMParam="$ACTION_RESULT" CSParam="a"/>
      <mapp MTMParam="@z" CSParam="b"/>
    </pair>    
  </methods>
</configuration>