<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MAT.Properties.Settings>
            <setting name="PDSPath" serializeAs="String">
                <value>\\TK3BISTEST01\PDS</value>
            </setting>
            <setting name="TrackingUrl" serializeAs="String">
              <value>http://zenbietest01.redmond.corp.microsoft.com/Datacollection/AppUsageService/AppUsageService.svc</value>
            </setting>
            <setting name="deployRoot" serializeAs="String">
                <value>\\MSCOMTEST\MDS</value>
            </setting>
            <setting name="trackingOn" serializeAs="String">
                <value>True</value>
            </setting>
        </MAT.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_IAppUsageService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://zenbietest01.redmond.corp.microsoft.com/DataCollection/AppUsageService/AppUsageService.svc"
        binding="basicHttpBinding" bindingConfiguration="CustomBinding_IAppUsageService"
        contract="BITrackingService.IAppUsageService" name="CustomBinding_IAppUsageService" />
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>