<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MSCOM.DDA.APP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MSCOM.DDA.DDA.ENGINE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <userSettings>
    <MSCOM.DDA.APP>
      <setting name="logFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggingOption" serializeAs="String">
        <value>Box</value>
      </setting>
      <setting name="tfsServer" serializeAs="String">
        <value>http://mscomvstf:8080/tfs/mscom</value>
      </setting>
      <setting name="tfsProjectName" serializeAs="String">
        <value>MSCOM CSP</value>
      </setting>
    </MSCOM.DDA.APP>
    <MSCOM.DDA.DDA.ENGINE>
      <setting name="logFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggingOption" serializeAs="String">
        <value>Box</value>
      </setting>
      <setting name="tfsServer" serializeAs="String">
        <value>http://mscomvstf:8080/tfs/mscom</value>
      </setting>
      <setting name="tfsProjectName" serializeAs="String">
        <value>MSCOM CSP</value>
      </setting>
      <setting name="Test" serializeAs="String">
        <value />
      </setting>
    </MSCOM.DDA.DDA.ENGINE>
  </userSettings>
</configuration>