<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSCOM.Test.Tools.WorkItemsMigrate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MSCOM.Test.Tools.TCMigrate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSCOM.Test.Tools.WorkItemsMigrate>
            <setting name="TFSServerOriginal" serializeAs="String">
                <value>http://mscomvstf:8080/tfs</value>
            </setting>
            <setting name="TFSProjectOriginal" serializeAs="String">
                <value>RXDPartner</value>
            </setting>
            <setting name="OriginalIdList" serializeAs="String">
                <value>original_Id</value>
            </setting>
            <setting name="OriginalDetails" serializeAs="String">
                <value>original_Details</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>OPX</value>
            </setting>
            <setting name="TFSServerNew" serializeAs="String">
                <value>http://msitvstf1:8080/tfs</value>
            </setting>
            <setting name="TFSProjectNew" serializeAs="String">
                <value>MSIT1TPC1Project1</value>
            </setting>
            <setting name="TFSProjectCollectionOriginal" serializeAs="String">
                <value>MSCOM</value>
            </setting>
            <setting name="TFSProjectCollectionNew" serializeAs="String">
                <value>TPC1</value>
            </setting>
            <setting name="OutPutHTML" serializeAs="String">
                <value>outPut_Validate.html</value>
            </setting>
            <setting name="CreateHTMLOnValidate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldsToMigrateFileName" serializeAs="String">
                <value>fields_to_migrate</value>
            </setting>
            <setting name="UpdatePairedIdList" serializeAs="String">
                <value>migrated_Paired_Id</value>
            </setting>
            <setting name="WorkItemType" serializeAs="String">
                <value>Test Case</value>
            </setting>
        </MSCOM.Test.Tools.WorkItemsMigrate>
        <MSCOM.Test.Tools.TCMigrate>
            <setting name="TFSServerOriginal" serializeAs="String">
                <value>http://mscomvstf:8080/tfs</value>
            </setting>
            <setting name="TFSProjectOriginal" serializeAs="String">
                <value>RXDPartner</value>
            </setting>
            <setting name="OriginalIdList" serializeAs="String">
                <value>original_Id</value>
            </setting>
            <setting name="OriginalDetails" serializeAs="String">
                <value>original_Details</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>OPX</value>
            </setting>
            <setting name="TFSServerNew" serializeAs="String">
                <value>http://msitvstf1:8080/tfs</value>
            </setting>
            <setting name="TFSProjectNew" serializeAs="String">
                <value>MSIT1TPC1Project1</value>
            </setting>
            <setting name="MigrateAction" serializeAs="String">
                <value>CSV_TO_TFS_VALIDATE</value>
            </setting>
            <setting name="TFSProjectCollectionOriginal" serializeAs="String">
                <value>MSCOM</value>
            </setting>
            <setting name="TFSProjectCollectionNew" serializeAs="String">
                <value>TPC1</value>
            </setting>
            <setting name="NewIdList2" serializeAs="String">
                <value>new_Id</value>
            </setting>
            <setting name="MigrateFields" serializeAs="String">
                <value>fields_to_migrate</value>
            </setting>
        </MSCOM.Test.Tools.TCMigrate>
    </userSettings>
</configuration>